* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-name {
  font-size: 22px;
  margin-bottom: 20px;
  color: white;
  font-family: 'calibri';
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #999999;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
  resize: none;
}

.bottoms {
  width: 100%;
  background: #999999;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}


.errors {
  color: red;
  margin-bottom: 20px;
  font-family: 'calibri';
}


